.contact-page{
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
}
.contact-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.contact-info {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
}

.info-item {
    height: 220px;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: none;
}

.icon {
    width: 40px;
    height: 40px;
    background-size: cover;
    
}

.location-icon {
    background: #f73378 url('location-icon.png') no-repeat center;
    border-radius: 50%;
    padding: 20px;
}

.email-icon {
    background: #6c63ff url('email-icon.png') no-repeat center;
    border-radius: 50%;
    padding: 20px;
}

.whatsapp-icon {
    background: #25d366 url('whatsapp-icon.png') no-repeat center;
    border-radius: 50%;
    padding: 20px;
}

.contact-form {
    width: 50%;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 30px;
}



.contact-form form {
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.contact-form input, 
.contact-form textarea {
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #F2F1FE;
    font-size: 20px;
}
.contact-form textarea{
    height: 200px;
}
.contact-form h2{
    font-size: 50px;
}
.contact-form button {
    width:200px;
    height: 50px;
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5rem;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

.contact-form button:hover {
    background: #0056b3;
}

.map-container {
    width: 100%;
    /* height: 200px; */
    overflow: hidden;
    margin: 50px 0px;
    /* background-color: #007bff; */
}

.map-container iframe{
    width: 100%;
}
.details{
     display: flex;
     flex-direction: column;
     gap: 10px;
}
.details h3{
    font-size: 20px;
}
.details p{
    font-size: 15px;
    color: #969696;
    height: auto;
}

/*ERROR CSS*/
.ERROR{
    width: 60%;
    margin: 0 auto;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 70px;

}
.error-image-div{
    width: 50%;
    height: 500px;
}
.error-image-div img{
    width: 100%;
    height: 100%;
}
.error-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.error-details h1{
    font-size: 100px;
}
.error-details h3{
    font-size: 30px;
    color: #FF3A3A;
}
.error-details button{
    border-radius: 2rem;
    padding: 10px 30px;
    font-size: 15px;
    background-color: #0059FF;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}
.error-details button:active{
    background-color: red;
    color: black;
}


/*service-page css*/
/* #service-page{

} */

/*OUR-Products*/

#OUR-Products{
    width: 90%;
    margin: 10vh auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.Products-main{
    /* height: 80vh; */
    /* background-color: wheat; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.pages-details{
    width: 40%;
    height: 100%;
    /* background-color: #0056b3; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}
.pages-details h1{
    text-transform: capitalize;
    font-size: 35px;
}
.pages-details h1 span{
    background: linear-gradient(to right, #0055FF, #E40050);
    -webkit-background-clip:text;
    color: transparent;
}
.page-short-info{
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* background-color: black; */
   
}
.inner-page-info{
    width: 100%;
    height: auto;
    display: flex;
    background-color: white;
    align-items: center;
    gap: 30px;
    padding: 20px ;
    border-radius: 5px;
    border: 1px solid #2B70FA;
    transition: 0.2s;
    margin-left: 20px;
}
.info-icon{
    width: 55px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid #2B70FA;
    padding: 10px;
}
.info-icon img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.details-of-pages{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    text-transform: capitalize;
    padding-top: 10px;
}
.details-of-pages p{
    font-family:  "Space Grotesk", sans-serif;
    /* display: none; */
    /* width: 0; */
    max-height: 0;
    overflow: hidden;
    transition: 0.6s;
    font-size: 15px;

}
.details-of-pages h4{
    font-size: 20px;
    font-family:  "Space Grotesk", sans-serif;
    transition: 0.2s

}
.inner-page-info:hover .details-of-pages p{
    width: 100%;
    max-height: 300px;
    color: white;
}
.inner-page-info:hover .details-of-pages h4{
    font-size: 15px;
    color: white;
}
.inner-page-info:hover{
    background-color: #0055FF;
}
.page-image-div{
    width: 40%;
    height: 70%;
    /* background-color: green; */
}
.page-image-div img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.page-open-btn{
    width:200px;
    height: 50px;
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5rem;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s;
}
.page-open-btn:hover{
    background-color: white;
    color: black;
    box-shadow: 1px 1px 20px -10px black;
    transform: scale(1.03);
}
.page-open-btn:active{
    background-color: red;
    color: white;
}
.coloumn-reverse{
    flex-direction: row-reverse;
}
/*  OUR-SERVICES-SECTION CSS */

#service-page{
    width: 90%;
    margin: 10vh auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.service-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    /* background-color: yellow; */
}
.service-imgage-main-div{
    width: 40%;
    height: 70%;
}
.service-imgage-main-div img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.ser-details-Main{
    width: 40%;
    /* height: 100%; */
    /* background-color: #0056b3; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}
.ser-details-Main h1{
    font-size: 50px;
}
#accordion{
    width:100%;
    /* background-color: #0055ff49; */
}
#accordion li{
    list-style: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    /* box-shadow: 1px 1px 20px -10px black; */
    border: 1px solid #C2C2C2;
    background-color: #ffffff;
    transition:all 0.2s;
}
#accordion li label{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.Symbol-4{
    transform: rotate(0deg);
    transition: height 0.2s;
    height: 10px;
}
#accordion label + input[type="radio"]{
    display: none;
}
#accordion .ser-para{
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
} 
#accordion label + input[type="radio"]:checked + .ser-para{
    max-height: 200px;
}
#accordion li:has(input[type="radio"]:checked) {
    background-color: #0055FF;
    color: white;
}





@media (max-width: 700px) {
    .contact-page {
        width: 100%;
        margin: 0;
        padding: 10px;
    }

    .contact-container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 30px;
    }

    .contact-info {
        width: 80%;
        gap: 10px;
    }

    .info-item {
        height: 150px;
        padding: 15px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    }

    .contact-form {
        width: 100%;
        padding: 20px;
        align-items: center;
        gap: 10px;
        text-align: center;
    }
    .contact-form h2{
        font-size: 15px;
    }
    .contact-form form{
        align-items: center;
    }
    .contact-form input,
    .contact-form textarea {
        width: 100%;
        font-size: 15px;
        margin-bottom: 10px;
        padding: 8px;
    }

    .contact-form button {
        width: 100px;
        height: 35px;
        font-size: 8px;
        padding: 0;
        margin: 0 auto;
    }

    .map-container {
        margin: 20px 0;
    }

    .details h3 {
        font-size: 18px;
    }

    .details p {
        font-size: 12px;
    }

    .icon {
        width: 22px;
        height: 22px;
    }
    .location-icon{
        padding: 10px;
    }
    .email-icon{
        padding: 10px;
    }
    .whatsapp-icon{
        padding: 10px;
    }
    .ERROR {
        width: 90%;
        margin-top: 50px;
    }

    .error-image-div {
        width: 80%;
        height: auto; /* Maintain aspect ratio */
    }

    .error-details h1 {
        font-size: 50px; /* Adjust heading size for smaller screens */
    }

    .error-details h3 {
        font-size: 20px; /* Adjust subheading size */
    }

    .error-details button {
        font-size: 6px;
        padding: 8px 20px; /* Adjust padding for smaller buttons */
    }


    /*OUR -PRODUCTS MEDIA QUERY CSS*/
    .Products-main{
        flex-direction: column-reverse;
    }
    .coloumn-reverse{
        flex-direction: column-reverse;
    }
    .pages-details{
        width: 100%;
        align-items: center;
    }
    .inner-page-info{
        width:100%;
        margin: 0;
        gap: 20px;
        padding: 10px;
    }
    .pages-details h1{
        font-size: 25px;
        text-align: center;
    }
    .details-of-pages h4{
        font-size: 12px;
    }
    .details-of-pages p{
        font-size: 10px;
    }
    .inner-page-info:hover .details-of-pages h4 {
        font-size: 10px;
        color: white;
    }
    .inner-page-info:hover .details-of-pages p {
        width: 100%;
        max-height:100px;
        color: white;
    }
    .info-icon {
        width: 35px;
        height: 30px;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        border: 1px solid #2B70FA;
        padding: 5px;
    }
    .page-short-info{
        align-items: center;
    }
    .page-open-btn {
        width: 100px;
        height: 24px;
        background: #007bff;
        color: #fff;
        border: none;
        padding: 3px 3px;
        border-radius: 5rem;
        cursor: pointer;
        font-size: 11px;
        transition: all 0.3s;
    }
    .page-image-div{
        width: 80%;
    }
    

    /*SERVICE SECTION MEDIA CSS*/

    #service-page{
        gap: 30px;
    }
    
    .service-section{
        flex-direction: column;
    }
    .ser-details-Main{
        width: 100%;
        align-items: center;
        gap: 15px;
    }
    .ser-details-Main h1 {
        font-size: 20px;
        text-align: center;
        
    }
    .service-imgage-main-div{
        width: 100%;
    }
    #accordion{
        width: 100%;
    }
    #accordion li label {
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 12px;
        font-weight: 700;
        cursor: pointer;
    }
    #accordion .ser-para{
        padding: 0 6px;
    }
    .ser-para p{
        font-size: 10px;
    }
}

@media (min-width: 701px) and (max-width: 1200px) {
    .ser-details-Main{
        width: 50%;
    }
    .ser-details-Main h1 {
        font-size: 35px;
    }
    .Products-main{
        gap: 30px;
    }
    .pages-details{
        width: 50%;
    }
    .page-image-div{
        width: 50%;
    }
    .pages-details h1 {
        text-transform: capitalize;
        font-size: 25px;
    }
    .contact-form{
        width: 65%;
    }
    .contact-form h2 {
        font-size: 40px;
    }
    .details p{
        font-size: 12px;
    }
    .details-of-pages h4{
        font-size: 15px;
    }

}